<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="snake">

  <!-- *************************** XACRO MACROS *************************** -->
  <xacro:property name="PI" value="3.1415926535897931" />

  <!-- load macros for modules -->
  <xacro:include filename="./module_common.xacro"/>
  <xacro:include filename="./rotary_module.xacro"/>
  

  <!-- ************************* ROBOT DEFINITION ************************* -->

  <xacro:property name="S_00" value="link_01" />
  <xacro:property name="S_01" value="link_02" />
  <xacro:property name="S_02" value="link_03" />
  <xacro:property name="S_03" value="link_04" />
  <xacro:property name="S_04" value="link_05" />
  <xacro:property name="S_05" value="link_06" />
  <xacro:property name="S_06" value="link_07" />
  <xacro:property name="S_07" value="link_08" />
  <link name="dummy_root" />
  <joint name="dummy_root_to_base" type="fixed">
    <parent link="dummy_root"/>
    <child link="base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="base" />
  <joint name="head__OUTPUT_INTERFACE" type="fixed">
    <parent link="base"/>
    <child link="${S_00}__INPUT_INTERFACE"/>
  </joint>
  <xacro:include filename="./snake.gazebo" />
  <xacro:rotary_module joint="${S_00}" child="${S_01}"/>
  <xacro:rotary_module joint="${S_01}" child="${S_02}"/>
  <xacro:rotary_module joint="${S_02}" child="${S_03}"/>
  <xacro:rotary_module joint="${S_03}" child="${S_04}"/>
  <xacro:rotary_module joint="${S_04}" child="${S_05}"/>
  <xacro:rotary_module joint="${S_05}" child="${S_06}"/>
  <xacro:rotary_module joint="${S_06}" child="${S_07}"/>
  <xacro:rotary_module_in name="${S_07}__INPUT_INTERFACE"/>
  <xacro:collar parent="${S_07}__INPUT_INTERFACE"/>
  <xacro:rotary_module_joint parent="${S_07}__INPUT_INTERFACE" name="${S_07}" child="${S_07}__OUTPUT_BODY"/>
  <xacro:rotary_module_out name="${S_07}__OUTPUT_BODY"/>
  <xacro:end parent="${S_07}__OUTPUT_BODY"/>

  <!-- ********************** Arboc attempt ********************** -->
</robot>
